* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-size-adjust: 100%;
    background-color: #DCDCDC;
}

.container {
    max-width: 460px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background: url('../img/header320.jpg') no-repeat;
    background-size: cover;
}

.header__office {
    font-size: 14px;
    font-weight: 600;
    float: right;
    clear: both;
    margin: 5px 5px 0 0;
    text-align: center;
    text-decoration: none;
    color: #ec7263;
    background-color: black;
}

#toggle {
    position: absolute;
    top: -100%;
    left: -100%;
}

#toggle:checked ~ .toggle-container .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(1);
}

#toggle:checked ~ .toggle-container .button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(1);
}

#toggle:checked:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 100px rgba(0, 0, 0, .5), inset 0 0 0 100px rgba(0, 0, 0, .5), 0 0 0 100px rgba(0, 0, 0, .5), inset 0 0 0 100px rgba(0, 0, 0, .5);
}

#toggle:checked ~ .header__menu {
    transform: translate(20px, 20px);
    pointer-events: auto;
}

*#toggle:checked ~ .header__menu .header__menu-item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: .5s, opacity .1s;
    transform: scaleY(1);
    text-decoration: none;
    letter-spacing: 0;
    opacity: 1;
    color: #ec7263;
}

#toggle:checked ~ .header__menu .header__menu-item:before {
    opacity: 0;
}

.button-toggle {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
    transition: 0.6s;
    border: none;
    border-radius: 100%;
    background-color: transparent;
}

.button-toggle:before, .button-toggle:after {
    position: absolute;
    top: 10px;
    left: 0;
    width: 40%;
    height: 5px;
    content: '';
    transition: 0.5s;
    border-radius: 5px;
    background-color: #ec7263;
}

.button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
}

.button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(0);
}

.header__menu {
    display: inline-block;
    margin: 10px 10px 5px;
    transition: .5s;
    pointer-events: none;
}

.header__menu-item {
    font-size: 16px;
    line-height: 5px;
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    height: 10px;
    transition: .5s, opacity 1s;
    transform: scaleY(.4);
    white-space: nowrap;
    letter-spacing: -6.2px;
    color: transparent;
    width: 30px;
}

.header__menu-item:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    transition: .5s;
    transform: translateY(-50%) scaleY(5);
    background-color: #ec7263;
}

.header__nav {
    float: left;
}

.logo {
    clear: both;
    width: 200px;
    height: 40px;
    background-image: url('../img/logo.png');
    background-size: 100%;
    display: inline-block;
    margin-top: 25px;
}

.search {
    margin-left: 50px;
}

.search__input {
    font-size: 16px;
    width: 250px;
    height: 30px;
    padding-left: 30px;
    border: 2px solid #ec7263;
    border-radius: 10px;
    display: block;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 4px;
    outline: none;
}

.search__input::-webkit-search-cancel-button {
    padding-right: 10px;
}

.main__content {
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.section_book__header {
    margin-top: 5px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding-left: 20px;
}

.section_book__header:before, .section_book__header:after {
    position: absolute;
    top: 7px;
    display: inline-block;
    height: 2px;
    content: '';
    background-color: #ec7263;
}

.section_book__header:before {
    left: 0;
    width: 18px;
}

.section_book__header:after {
    width: 100%;
}

.book {
    font-size: 14px;
    position: relative;
    width: 96%;
    margin: 5px auto 10px;
    border: 2px solid #ec7263;
    border-radius: 20px;
    box-shadow: 2px 2px 0 2px #ec7263;
}

.book:before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 100%;
    content: '';
    opacity: 0.3;
    border-radius: 20px;
    background-color: #ec7263;
}

.book__description {
    display: flex;
 }

.book__img {
    padding: 5px 0 5px 5px;
    width: 30%;
    height: 30%;
}

.book__caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stars {
    padding-top: 5px;
    display: flex;
}

.starts__star_fat {
    width: 20px;
    height: 20px;
    background: url("../img/star.png") no-repeat;
    background-size: 80%;
}

.starts__star_light {
    width: 20px;
    height: 20px;
    background: url("../img/star_light.png") no-repeat;
    background-size: 80%;
}

.book__caption-wrapper {
    width: 100%;
}
.book__header, .estimate__header, .add-comment__header {
    font-weight: 600;
    padding: 0 10px 5px 10px;
    display: inline-block;
}

.book__text {
    text-align: left;
}

.book__annotation {
    padding-left: 10px;
    text-align: left;
    text-indent: 20px;
}
.book__header-annotation {
    padding-left: 30px;
}

.book__download {
    float: left;
    text-decoration: none;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.book__download-description {
    margin-left: 10px;
}

.book__info {
    float: right;
    text-decoration: none;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.book__load-more {
    font-size: 16px;
    font-weight: 600;
    display: block;
    width: 96%;
    height: 30px;
    margin: 10px auto;
    color: #ec7263;
    border: 2px solid #ec7263;
    border-radius: 10px;
}

.footer {
    font-size: 10px;
    display: block;
    padding: 10px 0 10px 0;
    background-color: #2d2727;
}

.footer__copyright, .footer__copyright-description {
    text-align: center;
    color: #ec7263;
}

.estimate__header {
    padding-top: 5px;
}


/*.add-comment__header {
    margin: 30px 50px;
    display: block;
}*/

.comment__text {
    margin: 0 auto;
    text-indent: 50px;
    padding-left: 0;
    display: block;
    text-align: justify;
}

.estimate, .add-comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.add-comment__text, .add-comment__button_send {
    border-radius: 20px;
}

.add-comment__text {
    width: 80%;
    height: 120px;
    /*cols: 80;
    rows: 15;*/
}

.add-comment__button_send {
   width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment__header {
    display: flex;
    background-color: #ec7263;
    height: 120px;
    width: 96%;
    margin: 0 auto;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.comments {
    margin-bottom: 30px;
}