@import "header__nav";
@import "animation";
@import "search";
@import "section_book";
@import "book";
@import "stars";

@min-width: 722px;
@color-orange: #ec7263;
@color-white: #ffffff;
@font-size-big: 16px;
@font-size: 14px;
@border-standard: 1px solid;
@box-shadow: 2px 2px 0 2px;
@border-radius-standard: 20px;

.header-template () {
  font-weight: 600;
  display: inline-block;
  padding: 0 10px 5px 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #dcdcdc;
}

.container {
  min-width: 320px;
  max-width: 460px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 10px;
}

.header {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  border-radius: 10px;
  background: url('../img/header320.jpg') no-repeat;
  background-size: cover;
}

.header__office {
  font-size: 14px;
  font-weight: 600;
  float: right;
  clear: both;
  margin: 10px 5px 0 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #ec7263;
  border: 1px solid #ec7263;
  border-radius: 10px;
  background-color: black;
  box-shadow: 1px 1px 0 1px #ec7263;
}

.header__logo {
  display: inline-block;
  clear: both;
  width: 200px;
  height: 40px;
  margin-top: 25px;
  background-image: url('../img/logo.png');
  background-size: 100%;
}


.main__content {
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.estimate__header, .add-comment__header {
  font-weight: 600;
  display: inline-block;
  padding: 0 10px 5px 10px;
}


.footer {
  font-size: 10px;
  display: block;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  background-color: #2d2727;
}

.footer__copyright, .footer__copyright-description {
  text-align: center;
  color: #ec7263;
}

.estimate__header {
  padding-top: 5px;
}

.comment__text {
  display: block;
  margin: 0 auto;
  padding-left: 0;
  text-align: justify;
  text-indent: 50px;
}

.estimate, .add-comment {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.add-comment__text, .add-comment__button-send {
  border-radius: 10px;
}

.add-comment__text {
  width: 95%;
  height: 120px;
}

.add-comment__button-send {
  font-weight: 600;
  width: 60%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ec7263;
  border: 1px solid #ec7263;
  outline: none;
  background-color: #fff;
  box-shadow: 2px 0 2px 2px #ec7263;
}

.comment__header {
  display: flex;
  width: 96%;
  height: 30px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #ec7263;
  justify-content: space-around;
  align-items: center;
}

.comments {
  width: 95%;
  margin: 0 auto 20px;
}

.login, .singup, .password-recovery {
  position: fixed;
  z-index: 99997;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 95%;
  height: 98%;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 10px;
  background: rgba(0,0,0,.8);
}

.singup {
  z-index: 99999;
}

.password-recovery {
  z-index: 99998;
}

.login:target, .singup:target, .password-recovery:target {
  display: block;
  overflow: auto;
  pointer-events: auto;
}

.login > div, .singup > div, .password-recovery > div {
  width: 290px;
}

.login__header, .singup__header, .password-recovery__header {
  font-size: 18px;
  width: 290px;
  height: 45px;
  margin: 20px auto 0;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 0 0;
  background-color: #428bca;
}

.account {
  position: relative;
  width: 290px;
  height: 255px;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  background-color: #dcdcdc;
}

.account__email, .account__password {
  font-size: 16px;
  display: block;
  width: 80%;
  height: 40px;
  margin: 0 auto 20px;
  padding-left: 45px;
  border: 1px solid #999;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 12%;
}

.account__email {
  background-image: url('../img/email.png');
}

.account__password {
  background-image: url('../img/password.png');
}

.account__button {
  font-size: 18px;
  display: block;
  width: 80%;
  height: 40px;
  margin: 0 auto 20px;
  text-align: center;
  color: #fff;
  border: 1px solid #f0ad4e;
  border-radius: 10px;
  outline: none;
  background-color: #f0ad4e;
}

.account__forget-password, .account__create-account, .account__login-with-recover-password {
  font-size: 14px;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 0 0 10px 10px;
  text-align: center;
  text-decoration: none;
}

.login__close, .singup__close, .password-recovery__close {
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #606061;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.account__login-with-singup {
  font-size: 14px;
  padding-left: 35px;
  text-decoration: none;
}

.account__text {
  font-size: 14px;
}

.account__text-recovery-password {
  font-size: 14px;
  display: block;
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.office {
  font-size: 14px;
}

.office__header {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  color: #ec7263;
}

.name-user, .email-user, .password-user {
  padding-bottom: 5px;
}

.name-user__header, .email-user__header, .password-user__header {
  font-weight: 600;
  display: inline-block;
  height: 25px;
  padding-left: 20px;
}

.name-user__header {
  padding-left: 40px;
}

.email-user__header {
  padding-left: 30px;
}

.name-user__input, .email-user__input, .password-user__input {
  display: inline-block;
  width: 200px;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.name-user__edit-icon, .email-user__edit-icon, .password-user__edit-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: url('../img/edit.png') no-repeat;
  background-size: 100%;
}

.office__load-book {
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 310px;
  height: 30px;
  margin: 10px auto;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  color: #ec7263;
  border: 2px solid #ec7263;
  border-radius: 10px;
  outline: none;
  box-shadow: 1px 0 1px 1px #ec7263;
}


.load-book {
  position: fixed;
  z-index: 99997;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 95%;
  height: 98%;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 10px;
  background: rgba(0,0,0,.8);
}

.load-book:target {
  display: block;
  overflow: auto;
  pointer-events: auto;
}

.book-characteristic {
  width: 280px;
  margin: 20px auto 0;
  padding-top: 20px;
  border-radius: 10px;
  background-color: #dcdcdc;
}

.load-book__close {
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #606061;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.book-characteristic__text {
  display: block;
  width: 250px;
  height: 25px;
  margin: 10px auto 0;
  padding-left: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.book-characteristic__annotation {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100px;
}

.book-characteristic__cancel, .book-characteristic__load {
  width: 100px;
  height: 25px;
  margin: 20px 0 20px 25px;
  border: 1px solid #999;
  border-radius: 10px;
  outline: none;
}

.book-characteristic__load {
  color: #ec7263;
  border-color: #ec7263;
}

.book-characteristic__picture, .book-characteristic__file {
  display: inline-block;
  width: 210px;
  margin-right: 5px;
  margin-left: 15px;
}

.book-characteristic__load-picture {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url('../img/load.png') no-repeat;
  background-size: 100%;
}

@media screen and (min-width:722px) {
  .container {
    min-width: 722px;
    max-width: 1240px;
  }

  .header {
    height: 270px;
    background: url('../img/header768.jpg') no-repeat bottom;
    background-size: cover;
  }

  .header__logo {
    float: left;
    width: 370px;
    height: 70px;
    margin: 30px 0 0 90px;
  }

  .header__office {
    clear: none;
  }

  .header__office:hover {
    opacity: .9;
    color: #fff;
    border: 1px solid #fff;
    background-color: #ec7263;
    box-shadow: 1px 1px 0 1px #fff;
  }


  .book__load-more:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #ec7263;
    box-shadow: 1px 1px 0 1px #fff;
  }

  .office__load-book:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #ec7263;
    box-shadow: 1px 1px 0 1px #fff;
  }

  .add-comment__button-send:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #ec7263;
    box-shadow: 1px 1px 0 1px #fff;
  }

  .login > div, .singup > div, .password-recovery > div {
    width: 350px;
  }

  .account {
    height: 280px;
  }

  .book-page {
    font-size: 14px;
    position: relative;
    width: 700px;
    max-width: 900px;
    margin: 5px auto 10px;
    border: 2px solid #ec7263;
    border-radius: 20px;
    box-shadow: 2px 2px 0 2px #ec7263;
  }

  .book-page:before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 100%;
    content: '';
    opacity: .3;
    border-radius: 20px;
    background-color: #ec7263;
  }

  .book-characteristic {
    width: 450px;
    height: 450px;
  }

  .book-characteristic__text {
    width: 300px;
  }

  .book-characteristic__picture, .book-characteristic__file {
    margin-left: 75px;
  }

  .book-characteristic__cancel, .book-characteristic__load {
    width: 130px;
    margin: 40px 0 10px 60px;
  }

  .book-characteristic__load {
    color: #ec7263;
    border-color: #ec7263;
  }
}

