.header {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  border-radius: 10px;
  background: url('../img/header320.jpg') no-repeat;
  background-size: cover;
}
@media screen and (min-width: 722px) {
  .header {
    height: 270px;
    background: url('../img/header768.jpg') no-repeat bottom;
  }
}
.header__nav {
  float: left;
}
@media screen and (min-width: 722px) {
  .header__nav {
    clear: both;
    margin-left: 120px;
  }
}
.header__office {
  font-size: 14px;
  font-weight: 600;
  float: right;
  clear: both;
  margin: 10px 5px 0 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #ec7263;
  border: 1px solid #ec7263;
  border-radius: 10px;
  background-color: black;
  box-shadow: 1px 1px 0 1px #ec7263;
}
@media screen and (min-width: 722px) {
  .header__office {
    clear: none;
  }
}
@media screen and (min-width: 722px) {
  .header__office:hover {
    opacity: .9;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #ec7263;
    box-shadow: 1px 1px 0 1px #ffffff;
  }
}
.header__logo {
  display: inline-block;
  clear: both;
  width: 200px;
  height: 40px;
  margin-top: 25px;
  background-image: url('../img/logo.png');
  background-size: 100%;
}
@media screen and (min-width: 722px) {
  .header__logo {
    float: left;
    width: 370px;
    height: 70px;
    margin: 30px 0 0 90px;
  }
}
@media screen and (min-width: 1024px) {
  .header__animation {
    margin-left: 520px;
  }
}
.header__search {
  margin-left: 50px;
}
@media screen and (min-width: 722px) {
  .header__search {
    clear: both;
    margin-left: 90px;
  }
}
#toggle {
  position: absolute;
  top: -100%;
  left: -100%;
}
@media screen and (min-width: 722px) {
  #toggle {
    display: none;
  }
}
#toggle:checked ~ .toggle-container .button-toggle {
  box-shadow: 0 0 0 120px rgba(0, 0, 0, 0.5), inset 0 0 0 120px rgba(0, 0, 0, 0.5), 0 0 0 120px rgba(0, 0, 0, 0.5), inset 0 0 0 120px rgba(0, 0, 0, 0.5);
}
#toggle:checked ~ .toggle-container .button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(1);
}
#toggle:checked ~ .toggle-container .button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(1);
}
#toggle:checked ~ .toggle-container .button-toggle:hover {
  box-shadow: 0 0 0 120px rgba(0, 0, 0, 0.5), inset 0 0 0 120px rgba(0, 0, 0, 0.5), 0 0 0 120px rgba(0, 0, 0, 0.5), inset 0 0 0 120px rgba(0, 0, 0, 0.5);
}
#toggle:checked:focus ~ .toggle-container .button-toggle {
  box-shadow: 0 0 0 120px rgba(0, 0, 0, 0.5), inset 0 0 0 120px rgba(0, 0, 0, 0.5), 0 0 0 120px rgba(0, 0, 0, 0.5), inset 0 0 0 120px rgba(0, 0, 0, 0.5);
}
#toggle:checked ~ .nav__menu {
  transform: translate(20px, 20px);
  pointer-events: auto;
}
#toggle:checked ~ .nav__menu .nav__menu-item {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: .5s, opacity .1s;
  transform: scaleY(1);
  text-decoration: none;
  letter-spacing: 0;
  opacity: 1;
  color: #ec7263;
}
#toggle:checked ~ .nav__menu .nav__menu-item:before {
  opacity: 0;
}
@media screen and (min-width: 722px) {
  .toggle-container {
    display: none;
  }
}
.button-toggle {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  transition: .6s;
  border: none;
  border-radius: 100%;
  background-color: transparent;
}
.button-toggle:before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 40%;
  height: 5px;
  content: '';
  transition: .5s;
  border-radius: 5px;
  background-color: #ec7263;
  transform: translateY(-50%) rotate(45deg) scale(0);
}
.button-toggle:after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 40%;
  height: 5px;
  content: '';
  transition: .5s;
  border-radius: 5px;
  background-color: #ec7263;
  transform: translateY(-50%) rotate(-45deg) scale(0);
}
@media screen and (min-width: 722px) {
  .button-toggle {
    display: none;
  }
}
.nav__menu {
  display: inline-block;
  margin: 10px 10px 5px;
  transition: .5s;
  pointer-events: none;
}
@media screen and (min-width: 722px) {
  .nav__menu {
    display: flex;
    transition: none;
    pointer-events: auto;
  }
}
.nav__menu-item {
  font-size: 16px;
  line-height: 5px;
  position: relative;
  float: left;
  clear: both;
  width: 30px;
  height: 10px;
  transition: .5s, opacity 1s;
  transform: scaleY(0.4);
  white-space: nowrap;
  letter-spacing: -6.2px;
  color: transparent;
}
@media screen and (min-width: 722px) {
  .nav__menu-item {
    font-size: 16px;
    line-height: 20px;
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 15px;
    transition: none;
    transform: none;
    text-align: center;
    white-space: normal;
    text-decoration: none;
    letter-spacing: 0;
    color: #ec7263;
    border: 1px solid #ec7263;
    border-radius: 10px;
    box-shadow: 2px 2px 0 2px #ec7263;
  }
  .nav__menu-item:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 0 2px #ffffff;
  }
  .nav__menu-item--home--active {
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 0 2px #ffffff;
  }
  .nav__menu-item--home {
    padding-top: 10px;
    background: url('../img/home-icon.png') no-repeat center bottom;
  }
  .nav__menu-item--home--active {
    opacity: .9;
    background: url('../img/home-icon-white.png') no-repeat center bottom #ec7263;
  }
  .nav__menu-item--home:hover {
    opacity: .9;
    background: url('../img/home-icon-white.png') no-repeat center bottom #ec7263;
  }
  .nav__menu-item--my-books {
    background: url('../img/books-icon.png') no-repeat center bottom;
  }
  .nav__menu-item--my-books:hover {
    opacity: .9;
    background: url('../img/books-icon-white.png') no-repeat center bottom #ec7263;
  }
  .nav__menu-item--download-book {
    background: url('../img/download-book-icon.png') no-repeat center bottom;
  }
  .nav__menu-item--download-book:hover {
    opacity: .9;
    background: url('../img/download-book-icon-white.png') no-repeat center bottom #ec7263;
  }
}
.nav__menu-item:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  transition: .5s;
  transform: translateY(-50%) scaleY(5);
  background-color: #ec7263;
}
@media screen and (min-width: 722px) {
  .nav__menu-item:before {
    clear: both;
    height: 0;
  }
}
.animation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .animation {
    display: flex;
    width: 420px;
    height: 190px;
  }
  .animation--orange {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    animation: falling180 3s 2s infinite;
    background: url('../img/open-book-orange.png') no-repeat center;
  }
  .animation--gray {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    animation: falling90 4s 1s infinite;
    background: url('../img/open-book-gray.png') no-repeat center;
  }
  .animation--white {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    animation: falling90 3s 1s infinite;
    background: url('../img/open-book-white.png') no-repeat center;
  }
  .animation--orange-back {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    animation: falling180 4s 2s infinite;
    background: url('../img/open-book-orange.png') no-repeat center;
  }
  .animation--gray-back {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    animation: falling180 5s 0s infinite;
    background: url('../img/open-book-gray.png') no-repeat center;
  }
  .animation--white-back {
    width: 50px;
    height: 50px;
    margin-top: 0px;
    animation: falling90 5s 0s infinite;
    background: url('../img/open-book-white.png') no-repeat center;
  }
}
@-webkit-keyframes falling90 {
  100% {
    transform: translate3d(20px, 180px, 0) rotate(90deg);
    opacity: 0;
  }
}
@-webkit-keyframes falling180 {
  100% {
    transform: translate3d(20px, 180px, 0) rotate(180deg);
    opacity: 0;
  }
}
@-moz-keyframes falling90 {
  100% {
    transform: translate3d(20px, 180px, 0) rotate(90deg);
    opacity: 0;
  }
}
@-moz-keyframes falling180 {
  100% {
    transform: translate3d(20px, 180px, 0) rotate(180deg);
    opacity: 0;
  }
}
@-ms-keyframes falling90 {
  100% {
    transform: translate3d(20px, 180px, 0) rotate(90deg);
    opacity: 0;
  }
}
@-ms-keyframes falling180 {
  100% {
    transform: translate3d(20px, 180px, 0) rotate(180deg);
    opacity: 0;
  }
}
@media screen and (min-width: 722px) {
  .search {
    padding-top: 20px;
  }
}
.search__input {
  font-size: 16px;
  display: block;
  width: 250px;
  height: 30px;
  padding-left: 30px;
  border: 1px solid #ec7263;
  border-radius: 10px;
  outline: none;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: 4px;
  background-size: 10%;
  box-shadow: 2px 2px 0 2px #ec7263;
}
@media screen and (min-width: 722px) {
  .search__input {
    width: 370px;
    height: 40px;
    padding-left: 35px;
    background-size: 8%;
  }
}
.search__input::-webkit-search-cancel-button {
  padding-right: 10px;
}
.section-book__header {
  font-size: 14px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-top: 5px;
  padding-left: 20px;
}
.section-book__header:before {
  position: absolute;
  top: 7px;
  display: inline-block;
  height: 2px;
  content: '';
  background-color: #ec7263;
  width: 18px;
  left: 0;
}
.section-book__header:after {
  position: absolute;
  top: 7px;
  display: inline-block;
  height: 2px;
  content: '';
  background-color: #ec7263;
  width: 100%;
}
.section-book__books {
  display: flex;
  overflow-y: auto;
  height: 610px;
  flex-wrap: wrap;
}
@media screen and (min-width: 722px) {
  .section-book__books {
    height: 400px;
  }
}
.book-before-template {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  content: '';
  opacity: .3;
  border-radius: 20px;
  background-color: #ec7263;
}
.book {
  font-size: 14px;
  position: relative;
  z-index: 1;
  min-width: 310px;
  max-width: 360px;
  margin: 5px auto 10px;
  border: 2px solid #ec7263;
  border-radius: 20px;
  box-shadow: 2px 2px 0 2px #ec7263;
  height: 186px;
}
.book-page {
  font-size: 14px;
  position: relative;
  z-index: 1;
  min-width: 310px;
  max-width: 360px;
  margin: 5px auto 10px;
  border: 2px solid #ec7263;
  border-radius: 20px;
  box-shadow: 2px 2px 0 2px #ec7263;
}
@media screen and (min-width: 722px) {
  .book-page {
    font-size: 14px;
    position: relative;
    width: 700px;
    max-width: 900px;
    margin: 5px auto 10px;
    border: 2px solid #ec7263;
    border-radius: 20px;
    box-shadow: 2px 2px 0 2px #ec7263;
  }
}
.book-page:before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  content: '';
  opacity: .3;
  border-radius: 20px;
  background-color: #ec7263;
}
@media screen and (min-width: 722px) {
  .book-page:before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 100%;
    content: '';
    opacity: .3;
    border-radius: 20px;
    background-color: #ec7263;
  }
}
.book:before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  content: '';
  opacity: .3;
  border-radius: 20px;
  background-color: #ec7263;
}
.book__description {
  display: flex;
}
.book__img {
  width: 30%;
  height: 30%;
  padding: 5px 0 5px 5px;
}
.book__caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book__caption-wrapper {
  width: 100%;
}
.book__header {
  font-weight: 600;
  display: inline-block;
  padding: 0px 10px 5px 10px;
}
.book__text {
  text-align: left;
}
.book__annotation {
  padding-left: 10px;
  text-align: left;
  text-indent: 20px;
}
.book__header-annotation {
  padding-left: 30px;
}
.book__download {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  margin-left: 10%;
}
.book__download-description {
  margin-top: 0;
  margin-left: 10px;
}
.book__info {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  margin-right: 10%;
}
.book__load-more {
  font-size: 16px;
  font-weight: 600;
  display: block;
  min-width: 310px;
  max-width: 360px;
  height: 30px;
  margin: 10px auto;
  color: #ec7263;
  border: 2px solid #ec7263;
  border-radius: 20px;
  box-shadow: 2px 2px 0 2px #ec7263;
}
@media screen and (min-width: 722px) {
  .book__load-more:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #ec7263;
    box-shadow: 1px 1px 0 1px #ffffff;
  }
}
.stars {
  display: flex;
  padding-top: 5px;
}
.stars__star--fat {
  width: 20px;
  height: 20px;
  background: url('../img/star.png') no-repeat;
  background-size: 80%;
}
.stars__star--light {
  width: 20px;
  height: 20px;
  background: url('../img/star_light.png') no-repeat;
  background-size: 80%;
}
.footer {
  font-size: 10px;
  display: block;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  background-color: #2d2727;
}
.footer .footer__copyright {
  text-align: center;
  color: #ec7263;
}
.footer .footer__copyright-description {
  text-align: center;
  color: #ec7263;
}
.estimate {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.estimate__header {
  font-weight: 600;
  display: inline-block;
  padding: 5px 10px 5px 10px;
}
.add-comment {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.add-comment__header {
  font-weight: 600;
  display: inline-block;
  padding: 0px 10px 5px 10px;
}
.add-comment__text {
  width: 95%;
  height: 120px;
  border-radius: 10px;
}
.add-comment__button-send {
  font-weight: 600;
  width: 60%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ec7263;
  border: 1px solid #ec7263;
  outline: none;
  background-color: transparent;
  box-shadow: 2px 2px 0 2px #ec7263;
  border-radius: 10px;
}
@media screen and (min-width: 722px) {
  .add-comment__button-send:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #ec7263;
    box-shadow: 1px 1px 0 1px #ffffff;
  }
}
.comments {
  width: 95%;
  margin: 0 auto 20px;
}
.comment__header {
  display: flex;
  width: 96%;
  height: 30px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #ec7263;
  justify-content: space-around;
  align-items: center;
}
.comment__text {
  display: block;
  margin: 0 auto;
  padding-left: 0;
  text-align: justify;
  text-indent: 50px;
}
.modal-header-template {
  font-size: 18px;
  width: 290px;
  height: 45px;
  margin: 20px auto 0;
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  background-color: #428bca;
}
.login {
  position: fixed;
  z-index: 99997;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 95%;
  height: 98%;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}
.login:target {
  display: block;
  overflow: auto;
  pointer-events: auto;
}
.login > div {
  width: 290px;
}
@media screen and (min-width: 722px) {
  .login > div {
    width: 350px;
  }
}
.login__header {
  font-size: 18px;
  width: 290px;
  height: 45px;
  margin: 20px auto 0;
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  background-color: #428bca;
}
.login__close {
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 12px;
  background: #606061;
  box-shadow: 1px 1px 3px #000;
}
.singup {
  position: fixed;
  z-index: 99999;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 95%;
  height: 98%;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}
.singup:target {
  display: block;
  overflow: auto;
  pointer-events: auto;
}
.singup > div {
  width: 290px;
}
@media screen and (min-width: 722px) {
  .singup > div {
    width: 350px;
  }
}
.singup__header {
  font-size: 18px;
  width: 290px;
  height: 45px;
  margin: 20px auto 0;
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  background-color: #428bca;
}
.singup__close {
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 12px;
  background: #606061;
  box-shadow: 1px 1px 3px #000;
}
.password-recovery {
  position: fixed;
  z-index: 99998;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 95%;
  height: 98%;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}
.password-recovery:target {
  display: block;
  overflow: auto;
  pointer-events: auto;
}
.password-recovery > div {
  width: 290px;
}
@media screen and (min-width: 722px) {
  .password-recovery > div {
    width: 350px;
  }
}
.password-recovery__header {
  font-size: 18px;
  width: 290px;
  height: 45px;
  margin: 20px auto 0;
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  background-color: #428bca;
}
.password-recovery__close {
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 12px;
  background: #606061;
  box-shadow: 1px 1px 3px #000;
}
.account {
  position: relative;
  width: 290px;
  height: 255px;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  background-color: #dcdcdc;
}
@media screen and (min-width: 722px) {
  .account {
    height: 280px;
  }
}
.account__email,
.account__password {
  font-size: 16px;
  display: block;
  width: 80%;
  height: 40px;
  margin: 0 auto 20px;
  padding-left: 45px;
  border: 1px solid #999999;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 12%;
}
.account__email {
  background-image: url('../img/email.png');
}
.account__password {
  background-image: url('../img/password.png');
}
.account__button {
  font-size: 18px;
  display: block;
  width: 80%;
  height: 40px;
  margin: 0 auto 20px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #f0ad4e;
  border-radius: 10px;
  outline: none;
  background-color: #f0ad4e;
}
.account__forget-password,
.account__create-account,
.account__login-with-recover-password {
  font-size: 14px;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 0 0 10px 10px;
  text-align: center;
  text-decoration: none;
}
.account__login-with-singup {
  font-size: 14px;
  padding-left: 35px;
  text-decoration: none;
}
.account__text {
  font-size: 14px;
}
.account__text-recovery-password {
  font-size: 14px;
  display: block;
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.office {
  font-size: 14px;
}
.office__header {
  font-size: 20px;
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  color: #ec7263;
}
.office__load-book {
  font-size: 16px;
  display: block;
  width: 310px;
  height: 30px;
  margin: 10px auto;
  padding-top: 3px;
  text-decoration: none;
  border: 2px solid #ec7263;
  border-radius: 10px;
  outline: none;
  box-shadow: 1px 1px 0 1px #ec7263;
  font-weight: 600;
  text-align: center;
  color: #ec7263;
}
@media screen and (min-width: 722px) {
  .office__load-book:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #ec7263;
    box-shadow: 1px 1px 0 1px #ffffff;
  }
}
.name-user {
  padding-bottom: 5px;
  padding-left: 40px;
}
.name-user__header {
  font-weight: 600;
  display: inline-block;
  height: 25px;
  padding-left: 20px;
}
.name-user__input {
  display: inline-block;
  width: 200px;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #999999;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}
.name-user__edit-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: url('../img/edit.png') no-repeat;
  background-size: 100%;
}
.email-user {
  padding-bottom: 5px;
  padding-left: 30px;
}
.email-user__header {
  font-weight: 600;
  display: inline-block;
  height: 25px;
  padding-left: 20px;
}
.email-user__input {
  display: inline-block;
  width: 200px;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #999999;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}
.email-user__edit-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: url('../img/edit.png') no-repeat;
  background-size: 100%;
}
.password-user {
  padding-bottom: 5px;
  padding-left: 20px;
}
.password-user__header {
  font-weight: 600;
  display: inline-block;
  height: 25px;
  padding-left: 20px;
}
.password-user__input {
  display: inline-block;
  width: 200px;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #999999;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}
.password-user__edit-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background: url('../img/edit.png') no-repeat;
  background-size: 100%;
}
.load-book {
  position: fixed;
  z-index: 99997;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 95%;
  height: 98%;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}
.load-book:target {
  display: block;
  overflow: auto;
  pointer-events: auto;
}
.load-book__close {
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 12px;
  background: #606061;
  box-shadow: 1px 1px 3px #000;
}
.book-characteristic {
  width: 280px;
  margin: 20px auto 0;
  padding-top: 20px;
  border-radius: 10px;
  background-color: #dcdcdc;
}
@media screen and (min-width: 722px) {
  .book-characteristic {
    width: 450px;
    height: 450px;
  }
}
.book-characteristic__text {
  display: block;
  width: 250px;
  height: 25px;
  margin: 10px auto 0;
  padding-left: 5px;
  border: 1px solid #999999;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}
@media screen and (min-width: 722px) {
  .book-characteristic__text {
    width: 300px;
  }
}
.book-characteristic__annotation {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100px;
}
.book-characteristic__cancel,
.book-characteristic__load {
  width: 100px;
  height: 25px;
  margin: 20px 0 20px 25px;
  border: 1px solid #999999;
  border-radius: 10px;
  outline: none;
}
@media screen and (min-width: 722px) {
  .book-characteristic__cancel,
  .book-characteristic__load {
    width: 130px;
    margin: 40px 0 10px 60px;
  }
}
.book-characteristic__load {
  color: #ec7263;
  border-color: #ec7263;
}
@media screen and (min-width: 722px) {
  .book-characteristic__load {
    color: #ec7263;
    border-color: #ec7263;
  }
}
.book-characteristic__picture,
.book-characteristic__file {
  display: inline-block;
  width: 210px;
  margin-right: 5px;
  margin-left: 15px;
}
@media screen and (min-width: 722px) {
  .book-characteristic__picture,
  .book-characteristic__file {
    margin-left: 75px;
  }
}
.book-characteristic__load-picture {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url('../img/load.png') no-repeat;
  background-size: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #dcdcdc;
}
.container {
  min-width: 320px;
  max-width: 460px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #999999;
  border-radius: 10px;
}
@media screen and (min-width: 722px) {
  .container {
    min-width: 722px;
    max-width: 1240px;
  }
}
.main__content {
  font-size: 14px;
  width: 100%;
  height: 100%;
}
