@import "../containers/variables";

.account {
  position: relative;
  width: @width-modal;
  height: 255px;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  background-color: @color-light-gray;
  @media @tablet {
    height: 280px;
    width: @width-desktop-modal;
  }
  &__email, &__password {
    font-size: @font-size-big;
    display: block;
    width: 205px;
    height: 40px;
    margin: 0 auto 20px;
    padding-left: 45px;
    border: @border-standard @color-gray;
    border-radius: @border-radius-standard - 10px;
    outline: none;
    background: transparent 8px no-repeat;
    background-size: 28px;
    @media @tablet {
      width: 280px;
    }
  }
  &__email {
    background-image: url('../img/email.png');
  }
  &__password {
    background-image: url('../img/password.png');
  }
  &__button {
    font-size: @font-size-big + 2px;
    display: block;
    width: 205px;
    height: 40px;
    margin: 0 auto 20px;
    text-align: center;
    color: @color-white;
    border: @border-standard @color-ginger;
    border-radius: @border-radius-standard - 10px;
    outline: none;
    background-color: @color-ginger;
    @media @tablet {
      width: 280px;
    }
  }
  &__forget-password, &__create-account, &__login-with-recover-password {
    font-size: @font-size;
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 0 0 10px 10px;
    text-align: center;
    text-decoration: none;
  }
  &__login-with-singup {
    font-size: @font-size;
    padding-left: 35px;
    text-decoration: none;
  }
  &__text {
    font-size: @font-size;
  }
  &__text-recovery-password {
    font-size: @font-size;
    display: block;
    width: 240px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}