@import "../containers/variables";
@height-book-characteristic: 25px;

.book-characteristic {
  position: relative;
  width: 280px;
  margin: 20px auto 0;
  padding-top: 20px;
  border-radius: 10px;
  background-color: @color-light-gray;
  @media @tablet {
    width: 450px;
    height: 450px;
  }
  &__text {
    display: block;
    width: 250px;
    height: @height-book-characteristic;
    margin: 10px auto 0;
    padding-left: 5px;
    border: @border-standard @color-green;
    border-radius: @border-radius-standard - 15px;
    outline: none;
    background-color: transparent;
    @media @tablet {
      width: 300px;
    }
  }
  &__header{
    margin: 10px auto 0;
    text-align: center;
  }
  &__annotation {
    font-family: @font-family;
    font-size: @font-size;
    height: 100px;
  }
  &__genre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 0;
    &--box {
      margin-right: 10px;
    }
}
  &__load {
    width: 250px;
    height: @height-book-characteristic;
    margin: 10px 15px;
    border: @border-standard @color-green;
    border-radius: 10px;
    outline: none;
    color: @color-green;
    border-color: @color-green;
    @media @tablet {
      width: 300px;
      margin: 20px 0 10px 75px;
    }
  }
}

