@import "../containers/variables";

.info-template(){
  position: relative;
  z-index: 1;
  .size-book;
  margin: 5px auto 10px;
  .book-border;
}

.info-before-template {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  content: '';
  opacity: .3;
  border-radius: @border-radius-standard;
  background-color: @color-green-light;
}

.info {
  font-size: @font-size-big;
  color: @color-green;
  margin: 20px auto;
  text-align: center;
  .info-template;
  @media @tablet {
    width: 700px;
    max-width: 900px;
  }
  &:before{
    .info-before-template;
  }
  &__header {
     font-weight: @bold;
   }
  &__form {
    margin: 20px auto;
  }
  &__text {
    margin: 20px auto;
  }
}