@import "styles";
@book-float: left;
.size-book (){
  min-width: 310px;
  max-width: 360px;
}
.book-border (){
  border: @border-heavy @color-orange;
  border-radius: @border-radius-standard;
  box-shadow: @box-shadow @color-orange;
}
.book-template(){
  font-size: @font-size;
  position: relative;
  z-index: 1;
  .size-book;
  margin: 5px auto 10px;
  .book-border;
}
.book-before-template {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  content: '';
  opacity: .3;
  border-radius: @border-radius-standard;
  background-color: @color-orange;
}
.book-button (@book-float){
  float: @book-float;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}
.book {
  .book-template;
  &-page{
    .book-template;
    @media screen and (min-width:@min-width) {
      font-size: @font-size;
      position: relative;
      width: 700px;
      max-width: 900px;
      margin: 5px auto 10px;
      .book-border;
    }
    &:before{
      .book-before-template;
      @media screen and (min-width:@min-width) {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        width: 100%;
        content: '';
        opacity: .3;
        border-radius: @border-radius-standard;
        background-color: @color-orange;
      }
    }
  }
  &:before{
    .book-before-template;
  }
  &__description {
    display: flex;
  }
  &__img {
    width: 30%;
    height: 30%;
    padding: 5px 0 5px 5px;
  }
  &__caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__caption-wrapper {
    width: 100%;
  }
  &__header {
    .header-template(@pad-top);
  }
  &__text {
    text-align: left;
  }
  &__annotation {
    padding-left: 10px;
    text-align: left;
    text-indent: 20px;
  }
  &__header-annotation {
    padding-left: 30px;
  }
  &__download {
    .book-button(@book-float);
    margin-left: 10%;
  }
  &__download-description {
    margin-top: 0;
    margin-left: 10px;
  }
  &__info {
    .book-button(right);
    margin-right: 10%;
  }
  &__load-more {
    font-size: @font-size-big;
    font-weight: 600;
    display: block;
    .size-book;
    height: 30px;
    margin: 10px auto;
    color: @color-orange;
    .book-border;
    &:hover {
      @media screen and (min-width: @min-width) {
        color: @color-white;
        border: @border-standard @color-white;
        background-color: @color-orange;
        box-shadow: @box-shadow-light @color-white;
      }
    }
  }
}
